language: node_js
node_js:
  - "8.9.4"
sudo: false
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.5.1
  - export PATH=$HOME/.yarn/bin:$PATH
cache:
  yarn: true
before_script:
  - npm install -g coffeelint
script:
  - NODE_ENV=test ./node_modules/.bin/nyc --reporter=html ./node_modules/.bin/mocha --compilers coffee:coffeescript/register --require coffeescript --recursive --colors
